@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

.root,
#root,
#docs-root {
  --primary: #5e2222;
  --secondary: #ba6729;
}

body {
    overflow-x: hidden;
}

.slider {
  background: blue;
}

.slide-in {
  animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
}
  
@keyframes slide-in {
  0% { top: -300px }
  100% { top: 112px }

}
  
@keyframes slide-out {
  0% {top: 112px}
  100% { top: -300px }
}
